
.contentDiv{
width:100%;
padding-bottom:10%;

}	


.topContent{
width:83.33%;
position:relative;
text-align:center;
padding:10px;
font-size:30px;
left:210px;
}



.item{
width:25%;
display:inline-block;
padding:40px;
margin:0 auto;
text-align:center;
}

.itemMain{
width:70.00%;
position:relative;
left:0;right:0;
margin:0 auto;
text-align:center;



}

#amount1,#amount2,#amount3,#amount4,#amount5,#amount6,#amount7,#amount8,#amount9{
padding:2px;
border:1px solid white;
background-color:black;
color:white;
position:relative;
width:200px;
}

.tooltip{
display:none;
padding:2px;
border:1px solid white;
background-color:black;
color:white;


}

.item a{
position:relative;
}

.item:hover .tooltip{
display:block;
position:absolute;
left:60px;
bottom:60px;

}

	
.leftDiv{
border:2px solid black;
float:left;
height:635px;
width:16.66%;
margin-top:-2.6%;
margin-left:-1%;
}

#search{
padding:7px;
margin-top:5%;
margin-bottom:10%;
margin-left:15%;
}

.joinimage{
text-align:center;
}

h1{text-align:center; font-size:40px; color:white;}

.preference{
font-size:20px;
color:white;
text-align:center;
}

#arrow{
display:block;
margin:0 auto;
}

.colorWhite{
color:white;
padding-bottom:2%;
margin-right:30%;
}
	
.sortBy{
position:absolute;
left:310px;
font-size:25px;
color:white;
bottom:12px;
}

#sort{
padding:5px;
font-size:15px;
position:relative;
left:-130px;
}



